:root{
    scroll-behavior: smooth;
    --theme-color: #fff;
    --text-color: #000;
    --highlight-color-1: #61dafb;
    --highlight-color-2: #ffd700;
    --box-shadow: #21242c80;
    --code-color: #282c34;
    --button-color: #61dafb;
    --inverse-theme-color: #20232a;
    --inverse-text-color: #fff;
  }
  
  .body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 0;
  }

  .header {
    background-color: var(--theme-color);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0.25rem 0.25rem 0 var(--box-shadow);
  }
  
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    height: 4rem;
    padding: 0 2rem;
    margin: auto;
  }
  
  .header-nav__link-logo-container {
    height: 3rem;
  }
  
  .header-nav__link-logo {
    height: 100%;
    border-radius: 50%;
  }
  
  .header-nav__menu-icon {
    font-size: 2rem;
    color: var(--inverse-theme-color);
    cursor: pointer;
    transition: all 0.5s;
  }
  
  .header-nav__menu-icon:hover {
    font-size: 2.5rem;
    filter: brightness(250%);
  }
  
  .header-nav__menu-checkbox {
    display: none;
  }
  
  .header-nav__menu-checkbox:checked+.header-nav__link-list {
    left: 0;
  }
  
  .header-nav__link-list {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 4rem;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--code-color);
    gap: 2.5rem;
    margin: 0;
    padding: 0;
    transition: all 0.5s;
  }
  
  .header-nav__link-item {
    list-style: none;
  }
  
  .header-nav__link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--inverse-text-color);
    transition: all 0.25s;
  }
  
  .header-nav__link:hover {
    color: var(--highlight-color-1);
    border-bottom: 0.25rem solid var(--highlight-color-2);
  }  

  .perfil{
    display: flex;
    justify-content: justify;
    text-align: center;
    padding: 0 2rem;
  }
  
  .perfil-container{
    padding: 1rem 2rem;
    max-width: 1024px;
    margin: 0 auto;
    font-weight: bold;
    align-items: center;
  }
  
  .perfil__info{
    display: block;
    gap: 1rem;
    padding: 1rem 0;
    top: 80%;
  }
  
  .perfil__info-title{
    margin: 0;
    margin-top:2rem;
    color: #282c34;
    text-align: center;
  }
  
  .perfil__info-description{
    margin: 0;
    margin-top: 1rem;
    font-size: 0.8rem;
    text-align: justify;
  }
  
  .perfil__info-link-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  }
  
  .perfil__info-link{
    display: inline-block;
    background-color: var(--highlight-color-1);
    border: 0.1rem solid var(--highlight-color-2);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
  transition: all 0.5s;
  }
  
  .perfil__info-link:hover{
    background-color: white;
  border: 0.1rem solid black;
  }
  
  .perfil__cover-image{
    display: flex;
    justify-content: center;
    max-width: 1024;
    margin-left: 1rem;
  }
  
  .perfil__cover-image-container{
    display: flex;
    max-width: 18rem;
    border: 0.25rem solid #20232a;
    border-radius: 25%;
  overflow: hidden;
  transition: all 0.5s;
  }
  
  .perfil__cover-image-container:hover{
  box-shadow: 0 0 0 0.5rem #282c34;
  }
  
  .perfil__image{
    width: 100%;
  }

  .promotions{
    background-color: #000b76;
    color: var(--theme-color);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
  }
  
  .promotions-container{
    max-width: 1024px;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem 0;
  }
  
  .promotions-title{
    margin: 0;
    font-size: 3rem;
    text-align: center;
  }
  
  .promotions__promotions{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .promotion__date{
    margin: 0;
    color: var(--highlight-color-2);
  }
  
  .promotions__destiny{
    margin: 0;
    font-size: 1.5rem;
  }
  
  .promotions__pack{
    color: blue;
    margin: 0;
    font-weight: 400;
  }
  
  .promotion__activities{
    margin: 0;
    margin-top: 0.5rem;
    text-align: justify;
  }
  
  .promotion__activity{
    list-style:square;
  }

  .destinations {
    padding: 2rem 0;
  }
  
  .destinations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 2rem;
  }
  
  .destinations__title {
    font-size: 2rem;
    margin: 0;
  }
  
  .destinations__destinations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .destinations__destiny {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* box-shadow: 0 0 0.5rem var(--code-color); */
    border: 0.25rem solid black;
    border-radius: 1rem;
    padding-bottom: 1rem;
    overflow: hidden;
    transition: all 0.5s;
  }
  
  .destinations__destiny:hover {
    box-shadow:
      0 0 0.5rem #000b76,
      0 0 1rem #000b76,
      0 0 1.5rem #000b76;
    transform: scale(1.05);
  }
  
  .destinations__destiny-image-container {
    display: flex;
    width: 100%;
    margin: 0;
  }
  
  .destinations__destiny-image {
    width: 100%;
  }
  
  .destinations__destiny-data {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    text-align: center;
    padding: 0 1rem;
  }
  
  .destinations__destiny-data-title {
    color: var(--code-color);
    margin: 0;
  }
  
  .destinations__destiny-data-core-technology {
    color: var(--highlight-color-1);
    font-weight: 500;
    margin: 0;
  }
  
  .destinations__destiny-data-technologies {
    color: var(--box-shadow);
    font-weight: 400;
    margin: 0;
  }
  
  .destinations__destiny-data-about {
    font-weight: 300;
    margin: 0;
  }
  
  .destinations__destiny-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .destinations__destiny-button {
    text-decoration: none;
    font-weight: 700;
    background-color: var(--highlight-color-1);
    border: 0.1rem solid var(--highlight-color-1);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--inverse-theme-color);
    transition: all 0.5s;
  }
  
  .destinations__destiny-button--bg-gold {
    background-color: var(--highlight-color-2);
    border: 0.1rem solid var(--highlight-color-2);
  }
  
  .destinations__destiny-button:hover {
    border: 0.1rem solid var(--inverse-theme-color);
    background-color: var(--theme-color);
  }

  
  .wave-separetor{
  width: 100%;
  }
  
  .wave-separator__container{
  margin: 0;
  display: flex;
  }
  
  .wave-separator__container--r-180deg{
    transform: rotate(180deg);
    margin-top: -1px;
  }
  
  .wave-separetor__wave{
  width: 100%;
  }

  .contacto{
      background-color: #000b76;
    text-align: center;
   padding: 1rem 0;
   color: var(--theme-color);
  }
  .contacto-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 2rem;
    margin: auto;
  max-width: 1024px;
  }
  
  .contacto__title{
    margin: 0;
    font-size: 2rem;
  }
  
  .contacto__form{
    display:flex;
  flex-direction: column;
  gap: 0.75rem;
  }
  
  .contacto__form-input{
    border: 0.20rem solid #282c34;
    border-radius: 0.5rem;
    padding: 0.75rem;
    transition: all 0.5s;
  }
  
  .contacto__form-input:hover{
    border: 0.25rem solid gold;
  }
  
  .contacto__form-buttom{
    align-self: center;
    background-color: var(--highlight-color-1);
    border: 0.1rem solid var(--highlight-color-2);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
  transition: all 0.5s;
  }
  
  .contacto__form-buttom:hover{
    background-color: white;
    border: 0.1rem solid black;
  }

  .redes{
    display: flex;
    list-style: none;
    justify-content: center;
  }
  
  .redes li{
    margin-right: 15px;
  }
  .redes li a i{
    font-size: 32px;
  }
  
  .footer-nav{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  @media (min-width:854px){
    .header-nav__menu-icon {
      display: none;
    }
  
    .header-nav__link-list {
      position: static;
      flex-direction: row;
      width: auto;
      background-color: inherit;
    }
  
    .header-nav__link {
      font-size: 1rem;
      color: var(--text-color);
    }
    .perfil{
    flex-direction:row;
    text-align: start;
    }
  
    .perfil-container{
      max-width: 1024px;
      margin: auto;
      padding: 0;
    }
  
    .perfil__info{
      flex: 1.5;
    }
  
    .perfil__info-title{
      font-size: 3rem;
      margin: 0;
    }
  
    .perfil__info-description{
      font-size: 1.25rem;
    }
  
    .perfil__info-link-container{
      justify-content: start;
    }
  
    .perfil__cover-image{
  flex: 1;
    }
  
    .perfil__cover-image-container{
      width: 20rem;
      margin: auto auto auto auto;
    }
  
    .promotions-container{
  max-width: 1024px;
  margin: auto;
  padding: 0;
    }

    .destinations-container {
        display: flex;
        align-items: center;
        padding: 0;
        max-width: 1024px;
        margin: auto;
      }
    
      .destinations__destinations {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

}